<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %t %c -%m%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>log/events.log</File>
        <encoder>
            <pattern>%d %p %t %c -%m%n</pattern>
        </encoder>
    </appender>
    <logger name="com.github.sakuramatrix.andrewgregersen.p1.domain.Main"/>
    <logger name="cass"/>
    <logger name="server"/>
    <logger name="finance"/>


    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</Configuration>